<body>
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-9" id="createCol">
        <h3>Create my listing</h3>
        <div class="form-group" id="createForm">
          <label class="createText">Title*</label>
          <input class="form-control">
          <label class="createText">Category*</label>
          <select class="form-control">
            <option selected>Electronique</option>
          </select>
          <label class="createText">Description*</label>
          <textarea class="form-control" rows="10"></textarea>
          <label class="createText">Choose a picture*</label>
          <input type="file" class="form-control">
          <label class="createText">Price*</label>
          <input class="form-control">
          <div class="row">
            <div class="col-3">
              <p class="createText">*Required field</p>
            </div>
            <div class="col-8"></div>
            <div class="col-1" id="createColButton">
              <button type="button" class="btn btn-success">Save</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
<body>
