/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

html, body {
  height : 100%;
  width: 100%;
  }

/* --- Navbar ---*/

#navbar{
    opacity: 0.7;
}

#navTitle{
  font-size: 30px;
  color: white;
}

#btnLang{
  width: 70px;
  margin: 5px 10px;
}

/* --- END Navbar ---*/

#searchBloc{
  padding-top: calc(47% - 220px);
}

#homepageTitle{
  text-align: center;
  /*color: white;*/
  padding-bottom: 20px;
}

#searchForm {
  display: flex;
  flex-wrap: initial;
}

#btnSearch{
  margin-left: 25px;
}

#homepage{
  background-image: image-url('buildings-bg.jpg');
}

.productTitle{
  padding: 10px 0px;
}

.productBloc{
  height: auto;
  background-color: white;
  border-bottom: 1px solid gray;
}

.productDesc{
  text-align: justify;
}

.productTagDiv{
  border-radius: 10px;
  padding: 0px 8px;
  margin-bottom: 16px;
  color: white;
  background-color: gray;
}

.productTagDiv p{
  margin-bottom: 0 !important;
}

.divDateTag{
  display: flex;
}

.productDate{
  margin-right: 15px;
}

.productImgDiv{

}

.productImg{
  width: 250px;
}

.productDivPrixBtn{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  font-weight: bold;
}


/*--- Modal ---*/

.modal-dialog {
  min-width: 800px;
}

.modal-content{
  background-color : #343a40;
}

.modal-txt{
  color: white;
}

#modal-close{
  color: white;
}

/*--- END Modal ---*/

/*--- Create ---*/

#createCol{
  margin-top: 10px;
}

#createForm{
  background-color: #343a40;
  padding: 15px;
  color: white;
  font-weight: bold;
}

.createText{
  margin-top: 7px;
}

#createColButton{
  margin-top: 15px;
  right: 23px;
}
/*--- End Create ---*/


/*--- LogIn ---*/

.logCol{
  margin-top: 30px;
}

.logForm{
  background-color: #343a40;
  padding: 15px;
  color: white;
  font-weight: bold;
}

.logText{
  margin-top: 7px;
}

.logButton{
  position: absolute;
  bottom: 0;
}

/*--- END LogIn ---*/

#signupMargin{
  margin-top: 20px;
}

#passwordButton{
  margin-top: 10px;
  margin-bottom: 10px;
}
